{% extends "base.html" %}
{% block more_head %}
    <link rel="stylesheet" href="static/users.css">
{% endblock %}
{% block body %}
<body onload="invalid_user()">
    <script>
        function invalid_user(){
            target = document.querySelector(".invalid_user")
            if( "{{ invalid_user }}" == "False"){
                target.style.visibility = "hidden"
            }
            else{
                target.style.visibility = "show"
            }
            return
        }
    </script>
    <header>
        <a href="/"><div id="img_waccas"></div><a>
    </header>
    <h2>Join Waccas!</h2>
    <div class="invalid_user">Username or password is already in use! Choose another username/email</div>
    <form method="POST">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required>

        <label for="username">Username</label>
        <input id="username" type="text" name="username" required>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>

        <input type="submit">
    </form>
</body>
{% endblock %}