{% extends "base.html" %}
{% block more_head %}
    <link rel="stylesheet" href="static/users.css">
{% endblock %}
{% block body %}
<body onload="invalid_user()">
    <script>
        function invalid_user(){
            target = document.querySelector(".invalid_user")
            if( "{{ invalid_user }}" == "False"){
                target.style.visibility = "hidden"
            }
            else{
                target.style.visibility = "show"
            }
            return
        }
    </script>
    <header>
        <a href="/"><div id="img_waccas"></div><a>
    </header>
    <h2>Sign in to Waccas or <a href="/signup">create an account</a></h2>
    <div class="invalid_user">Invalid username or password entered</div>
    <form method="POST">
        <label for="user">Email or username</label>
        <input id="user" type="text" name="user" required>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>

        <input type="submit">
    </form>
</body>
{% endblock %}